<div>

  <div class="row">
    <div class="col-md-4">
      <button (click)="getAllPosts()">Get All Posts </button>
    </div>
    <div class="col-md-4">
      <button (click)="getSinglePost(1)">Get Single Post </button>
    </div>

    <div class="col-md-2">
      <i *ngIf="isBusy" class="fa fa-spinner fa-spin"></i>
    </div>

  </div>


  <div class="row">
    <div class="col-md">
      <app-post-management (newOrUpdatedPost)="displayNewOrUpdatedPost($event)" [postForUpdate]='postToBeUpdated' (deletedPost)="removeDeletedPost($event)"></app-post-management>
    </div>
  </div>


  <div class="row" *ngIf="postResults">
    <div class="col-md">
      <app-post-list [posts]="postResults" (selectedPost)="editSelectedPost($event)"></app-post-list>
    </div>
  </div>


  <div class="row">
    <div class="col-md">
      <pre>{{results | json}}</pre>
    </div>
  </div>

</div>